.topic-info-wrapper {}

.topic-info-wrapper,
.topic-edit-wrapper {
    .list-item-wrapper {
        word-break: break-word;
        .btn-delete{
            color: #ff4d4f;
        }

        .item-filename {
            font-size: 15px;
            font-weight: 600;
            color: #2d3436;
            margin-bottom: 5px;
        }

        .item-filepath {
            word-break: break-all;
            margin: 3px 0 5px;

            span {
                color: #1890ff;
            }
        }

        .item-user-meta {
            display: flex;
            justify-content: space-between;

            .item-upload-user {
                span {
                    color: #636e72;
                }
            }

            .item-upload-ip {
                span {
                    color: #1890ff;
                }
            }
        }

        .item-meta {
            display: flex;
            justify-content: space-between;
            margin-top: 3px;

            .item-count {
                span {
                    font-size: 15px;
                    font-weight: 600;
                    color: #2d3436;
                }
            }
        }
    }
}

.reply-info-wrapper {}

.topic-insert-wrapper {
    .input-item {
        .ant-input-group-addon {
            min-width: 100px !important;
            padding: 0 !important;
            cursor: pointer;
        }
    }
}